html {
    background-color: lightpink;
    height: 100vh;
    overflow:hidden;
    border: 10px solid white;
}

body {
    background-color:lightpink;
    margin:10%;
    padding:0;
    overflow-x:hidden;
}

.table td {
    border-top: 1px solid white;
    padding: 10px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}

p, td {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

#notification {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    border: 1px solid lightpink;
    outline: 3px solid white;
    margin-top: 20px !important;
    margin-bottom:0;
    margin-right: 20px;
    margin-left: 20px;

}